@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #131412;
  font-family: "Montserrat", sans-serif;
}

.splide__arrows.splide__arrows--ltr {
  position: absolute;
  top: 70%;
  left: 2%;
  width: 7%;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 10;
}

.splide__arrow {
  background-color: rgba(255, 0, 0, 0.5);
  color: white !important;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px !important;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.splide__arrow:hover {
  background-color: rgba(255, 255, 255, 0.719);
}

.splide__arrow--prev {
  margin-left: 10px;

}

.splide__arrow--next {
  margin-right: 10px;
}



.vertical-masked-404 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  background-image: url("/assets/404/404.png");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
}

.stroke-text {
  -webkit-text-stroke: 2px #d04713;
  -webkit-text-fill-color: transparent;
}
